<table>
<tr><th>댓글</th><th>감성분석 결과</th></tr>
<tr><td>이태신의 뒤에서 영화를 본 사람들은 울화통이 터졌겠지만 전두광의 뒤에서 영화를 본 사람들은 이영화의 관객수가 늘어나는게 두려울것이다</td><td>부정 (확률: 99.81%)</td></tr>
<tr><td>외면하면 역사는 반복된다.</td><td>부정 (확률: 99.97%)</td></tr>
<tr><td>배우들의 연기력 대박이예요~</td><td>긍정 (확률: 99.95%)</td></tr>
<tr><td>전두환 12 12 군사반란 아는 내용인데도 영화적으로 흥미진진하고 몰입감있게 잘 표현했네요. 특히 극적 긴장감이 높도록 편집도 훌륭한 영화였습니다. 김성수 감독 칭찬합니다. 왜 CGV평점이 99점인지 알수 있는 영화네요. 100점을 줘도 아깝지 않는 영화입니다.</td><td>긍정 (확률: 96.24%)</td></tr>
<tr><td>실화라서 앞으로 어떻게 전개 될것인가 내용을 다 알고 있는 상태로 영화를 보는데도 빡치는 감정은 어쩔수 없는 영화. 그러나…이런 영화의 내용에 놀라워하는 이웃국가들의 반응에 ‘니들은 이런거 못만들지?’ 하는 일말의 국뽕이 충전되기도..</td><td>부정 (확률: 99.90%)</td></tr>
<tr><td>너무 재미있었어요 연기 좋아요</td><td>긍정 (확률: 99.96%)</td></tr>
</table>